<app-product-create (added)="onAdd($event)"></app-product-create>

<app-product-table [products$]="products$" [sort_active]="'active'" [paginator_active]="'active'"></app-product-table>


  <div
    class="mx-auto space-y-6 border-2 bg-gray-400 px-2 py-1"
    id="ex-product-product-detail"
  >
    <router-outlet></router-outlet>
  </div>

  <ng-template #noProduct>
    <div
      class="mx-auto border-2 bg-gray-400 px-2 py-1"
      id="ex-product-product-detail-no-product"
    >
      <p>No Product selected!</p>
    </div>
  </ng-template>

