<div class="container mx-auto px-4">
  <div class="grid grid-cols-12 gap-4">
    <!-- Header -->
    <div id="headerContent" class="col-start-2 col-span-10">
      <app-navigation></app-navigation>
    </div>

    <!-- Main content and sidebar wrapper -->
    <div class="col-start-2 col-span-10">
          <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div id="footerContent" class="col-start-2 col-span-10 flex justify-center">
      <div class="flex justify-center">
        <footer>
          <p>&copy; 2023 - My Website</p>
        </footer>
      </div>
    </div>
  </div>
</div>
