<div class="container mx-auto px-4">
  <div class="grid grid-cols-12 gap-4">
    <!-- Header -->
    <div id="headerContent" class="col-start-2 col-span-10">
      <app-navigation></app-navigation>
    </div>

    <!-- Main content and sidebar wrapper -->
    <div class="col-start-2 col-span-10 flex flex-col md:flex-row">
      <!-- Left sidebar -->
      <div id="mainContent-sideBar" class="w-full md:w-1/5 md:col-span-2">
         <app-sidebar></app-sidebar>
      </div>

      <!-- Main content area wrapper -->
      <div class="w-full md:w-4/5 flex flex-col px-6">
        <div class="w-full hidden md:block dark:bg-slate-600 dark:bg-opacity-75">Breadcrumbs</div>
        <div id="mainContent-routes" class="flex-grow dark:bg-slate-600 dark:bg-opacity-75">
          hello2
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footerContent" class="col-start-2 col-span-10 flex justify-center">
      <div class="flex justify-center">
        <footer>
          <p>&copy; 2023 - My Website</p>
        </footer>
      </div>
    </div>
  </div>
</div>
