<!-- <form [formGroup]="leaguesForm" (ngSubmit)="createLeague()">
  <div>
    <label for="name">Name</label>
    <input
      id="name"
      formControlName="name"
      placeholder="Name"
      required
    />
    <div *ngIf="leaguesForm.get('name')?.invalid && leaguesForm.get('name')?.touched">The name is not valid</div>
  </div>
  <div>
    <label for="displayName">Display Name</label>
    <input
      id="displayName"
      formControlName="displayName"
      placeholder="Display Name"
      required
    />
    <div *ngIf="leaguesForm.get('displayName')?.invalid && leaguesForm.get('displayName')?.touched">Display Name invalid</div>
    <small>Display Name has to be a string</small>
  </div>
  <div>
    <label for="tournament">Tournament</label>
    <input
      id="tournament"
      formControlName="tournament"
      placeholder="Tournament"
      required
    />
    <div *ngIf="leaguesForm.get('tournament')?.invalid && leaguesForm.get('tournament')?.touched">Tournament Name invalid</div>
    <small>Tournament has to be a string</small>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="!leaguesForm.valid"
    >
      Create
    </button>
  </div>
</form> -->
test
