<div id="ex-product-product-detail" *ngIf="product$ | async as product">
  <h2 class="h2">Product Details</h2>
  <div>
    <p>{{ product.name }}</p>
    <p>{{ product.price | currency : "EUR" }}</p>
  </div>
  <div>
    <form (ngSubmit)="changePrice(product, price!)" class="inline">
      <input placeholder="New price" name="price" [(ngModel)]="price" />
      <button type="submit">Change</button>
    </form>
    <button
      *ngIf="authService.isLoggedIn"
      (click)="buy(product)"
      class="border-2 bg-gray-400 bg-clip-padding px-2 py-1"
    >
      Buy Now
    </button>
  </div>
</div>
