<div id="ex-product-product-detail" *ngIf="product$ | async as product">
  <h2 class="h2">Product Details</h2>
  <div>
    <p>{{ product.name }}</p>
    <p>{{ product.price | currency: "EUR" }}</p>
  </div>
  <div>
    <!-- <form #priceForm="ngForm" (ngSubmit)="changePrice(product, price.value)">
      <input
        placeholder="New price"
        #price="ngModel"
        type="number"
        step="0.01"
        pattern="^\d+(\.\d{1,2})?$"
        name="price"
        ngModel
        required
      />
      <button type="submit" [disabled]="priceForm.invalid">Change</button>
    </form> -->
    <form (ngSubmit)="changePrice(product, price!)" class="inline">
      <input placeholder="New price" name="price" [(ngModel)]="price" />
      <button type="submit">Change</button>
    </form>
  </div>
  <div>
    <button
      *ngIf="authService.isLoggedIn"
      (click)="buy(product)"
      class="border-2 bg-gray-400 bg-clip-padding px-2 py-1"
    >
      Buy Now
    </button>
  </div>
  <br />
  <span>Product Name | Product Detail: {{ productName }}</span>
</div>
